body::before {
    display: block;
    content: '';
    height: 60px;
}

body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}


#map {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

@media(min-width: 786px) {
    .news-input {
        width: 60%;
    }
}