body::before {
    display: block;
    content: '';
    height: 60px;
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

@media(min-width: 786px) {
    .news-input {
        width: 60%;
    }
}